body {
    background-image: url("/img/G0010326.JPG");
    -moz-background-image: url("/img/G0010326.JPG");
    -o-background-image: url("/img/G0010326.JPG");
    -webkit-background-image: url("/img/G0010326.JPG");
}